<div class="input-number"{% if widget.attrs.id %} id="{{ widget.attrs.id }}_stepper"{% endif %} x-data="formworkInputNumber" data-value="{{ widget.value|default('', true) }}" data-min="{{ widget.attrs.min|default('', true) }}" data-max="{{ widget.attrs.max|default('', true) }}" data-step="{{ widget.attrs.step|default('1', true) }}">
  <button type="button" @click="dec()" class="btn" aria-label="Decrease">&minus;</button>
  <input x-ref="input" type="number" name="{{ widget.name }}" :value="val" @input="val = $el.value"{% include "django/forms/widgets/attrs.html" %}>
  <button type="button" @click="inc()" class="btn" aria-label="Increase">&plus;</button>
</div>
