<div class="input-mask"{% if widget.attrs.id %} id="{{ widget.attrs.id }}_mask"{% endif %} x-data="formworkInputMask" data-mask="{{ widget.mask }}">
  <input x-ref="hidden" type="hidden" name="{{ widget.name }}"{% if widget.attrs.id %} id="{{ widget.attrs.id }}"{% endif %} value="{{ widget.value|default('', true) }}">
  <div class="input-mask-overlay" x-ref="overlay" aria-hidden="true"></div>
  <input x-ref="display" type="text" data-initial="{{ widget.value|default('', true) }}" class="input-mask-display"{% for name, value in widget.attrs.items() %}{% if name != "id" and value is not sameas false %} {{ name }}{% if value is not sameas true %}="{{ value }}"{% endif %}{% endif %}{% endfor %} @input="handleInput($event)" @click="handleClick($event)" autocomplete="off">
</div>
