{% with id=widget.attrs.id %}<div class="dropzone"{% if id %} id="{{ id }}_dropzone"{% endif %} x-data="{
  files: [],
  dragging: false,
  handleDrop(e) {
    this.dragging = false;
    this.$refs.input.files = e.dataTransfer.files;
    this.files = [...e.dataTransfer.files];
  },
  formatSize(bytes) {
    if (bytes < 1024) return bytes + ' B';
    if (bytes < 1048576) return (bytes / 1024).toFixed(1) + ' KB';
    return (bytes / 1048576).toFixed(1) + ' MB';
  }
}" @dragover.prevent="dragging = true" @dragleave.prevent="dragging = false" @drop.prevent="handleDrop($event)">
  <div class="dropzone-area" :class="dragging && 'dragging'" @click="$refs.input.click()">
    <input x-ref="input" type="file" name="{{ widget.name }}"{% if id %} id="{{ id }}"{% endif %} @change="files = [...$event.target.files]"{% for name, value in widget.attrs.items %}{% if value is not False and name != "class" and name != "id" %} {{ name }}{% if value is not True %}="{{ value|stringformat:'s' }}"{% endif %}{% endif %}{% endfor %}>
    <div x-show="!files.length">
      <svg class="dropzone-prompt-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M12 13v8"/><path d="M4 14.899A7 7 0 1 1 15.71 8h1.79a4.5 4.5 0 0 1 2.5 8.242"/><path d="m8 17 4-4 4 4"/></svg>
      <p class="dropzone-prompt-text">Drag and drop files here or <span class="dropzone-browse">browse</span></p>
    </div>
    <div x-show="files.length" x-cloak>
      <template x-for="file in files" :key="file.name">
        <p class="dropzone-file" x-text="file.name + ' (' + formatSize(file.size) + ')'"></p>
      </template>
    </div>
  </div>
</div>{% endwith %}
