<div class="dropzone"{% if widget.attrs.id %} id="{{ widget.attrs.id }}_dropzone"{% endif %} x-data="formworkDropZone" data-max-size="{{ widget.max_size|default:'0' }}" @dragover.prevent="dragging = true" @dragleave.prevent="dragging = false" @drop.prevent="handleDrop($event)">
  <div class="dropzone-area" :class="dragging && 'dragging'" tabindex="0" role="button" aria-label="Choose files" @keydown.enter.prevent="$refs.input.click()" @keydown.space.prevent="$refs.input.click()">
    <input x-ref="input" type="file" name="{{ widget.name }}"{% if widget.attrs.id %} id="{{ widget.attrs.id }}"{% endif %} @change="handleChange($event)"{% for name, value in widget.attrs.items %}{% if value is not False and name != "class" and name != "id" %} {{ name }}{% if value is not True %}="{{ value|stringformat:'s' }}"{% endif %}{% endif %}{% endfor %}>
    <div x-show="!files.length" @click="$refs.input.click()">
      <i class="icon icon-cloud-upload dropzone-prompt-icon"></i>
      <p class="dropzone-prompt-text">Drag and drop files here or <span class="dropzone-browse">browse</span></p>
      {% if widget.accept_display or widget.max_size_display %}<p class="dropzone-accept-text">{% if widget.accept_display %}{{ widget.accept_display }}{% endif %}{% if widget.accept_display and widget.max_size_display %} · {% endif %}{% if widget.max_size_display %}Max {{ widget.max_size_display }}{% endif %}</p>{% endif %}
    </div>
    <div x-show="files.length" x-cloak class="dropzone-preview-area">
      <button type="button" class="dropzone-remove" @click.stop="clear()" aria-label="Remove file">
        <i class="icon icon-x dropzone-remove-icon"></i>
      </button>
      <template x-if="files.length === 1">
        <div class="dropzone-file-preview" @click="$refs.input.click()">
          <i class="icon icon-file dropzone-file-icon"></i>
          <p class="dropzone-file-name" x-text="files[0].name"></p>
          <p class="dropzone-file-size" x-text="formatSize(files[0].size)"></p>
        </div>
      </template>
      <template x-if="files.length > 1">
        <div class="dropzone-file-preview" @click="$refs.input.click()">
          <i class="icon icon-file dropzone-file-icon"></i>
          <p class="dropzone-file-name" x-text="files.length + ' files selected'"></p>
          <p class="dropzone-file-size" x-text="files.map(f => f.name).join(', ')"></p>
        </div>
      </template>
    </div>
    <p x-show="error" x-text="error" x-cloak role="alert" class="dropzone-error"></p>
  </div>
</div>
