<label class="password-reveal"{% if widget.attrs.id %} id="{{ widget.attrs.id }}_wrapper"{% endif %} x-data="{ show: false }">
  <input x-bind:type="show ? 'text' : 'password'" name="{{ widget.name }}"{% if widget.value != None %} value="{{ widget.value|stringformat:'s' }}"{% endif %} class="grow"{% for name, value in widget.attrs.items %}{% if value is not False and name != "class" %} {{ name }}{% if value is not True %}="{{ value|stringformat:'s' }}"{% endif %}{% endif %}{% endfor %}>
  <button type="button" class="password-reveal-toggle" x-on:click="show = !show" aria-label="Toggle password visibility">
    <i x-show="!show" class="icon icon-eye size-4"></i>
    <i x-show="show" x-cloak class="icon icon-eye-off size-4"></i>
  </button>
</label>
